# Database Configuration
# Setup PostgreSQL di hosting, ganti credentials di bawah
DATABASE_URL="postgresql://username:password@host:port/arindama?schema=public"

# NextAuth Configuration
NEXTAUTH_SECRET="generate with: openssl rand -base64 32"
NEXTAUTH_URL="http://localhost:3000"

# Production
# NEXTAUTH_URL="https://your-domain.com"
